@model IEnumerable<carnetutelvt.Models.Detallestb>

@{
    ViewData["Title"] = "Index";
}



<div class="hero">
    
	
    <div class="container">
		
		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6 text-center mb-4">
						<center>	<h2>Detalles de todos los usuarios</h2></center>
					
					</div>
					
				</div>
				<h3><a type="button" class="btn btn-success" asp-action="Create">Crear Nuevo</a><a type="button" class="btn btn-secondary" asp-controller="Usertbs" asp-action="Index">Usuarios</a></h3>
				<div class="row">
					<div class="col-md-12">
						
						<div class="table-wrap">
							<table class="table">
								<thead class="thead-primary">
									<tr>
										<th>Select</th>
                                        <th>@Html.DisplayNameFor(model => model.Imgcarnet)</th>
										<th> @Html.DisplayNameFor(model => model.Fullname)</th>
                                        <th> @Html.DisplayNameFor(model => model.Surnames)</th>

                                        <th> @Html.DisplayNameFor(model => model.Specialty)</th>
                                        <th>@Html.DisplayNameFor(model => model.Faculty)</th>
                                        <th>@Html.DisplayNameFor(model => model.Ci)</th>
                                        <th>@Html.DisplayNameFor(model => model.Dateupdate)</th>
                                        <th>@Html.DisplayNameFor(model => model.Datecreate)</th>

                                        <th> @Html.DisplayNameFor(model => model.IduserNavigation)</th>
										<th>Edit</th>
										<th>Details</th>
										<th>Delete</th>
                                    </tr>
								</thead>
								<tbody>
                                    @foreach (var item in Model) {
									<tr class="alert" role="alert">
										<td>
											<label class="checkbox-wrap checkbox-primary">
												<input type="checkbox" checked>
												<span class="checkmark"></span>
											</label>
										</td>
										<td>

												<img src="/uploads\@Html.DisplayFor(modelItem => item.Imgcarnet) " alt="Image" class="img-fluid">
											</td>
										<td>
											<div class="email">

													<span><input type="text" value="@Html.DisplayFor(modelItem => item.Fullname)" readonly /></span>
											</div>
										</td>
											<td>
												<div class="email">

													<span><input type="text" value="@Html.DisplayFor(modelItem => item.Surnames)" readonly /></span>
												</div>
											</td>
											<td>
											<div class="email">

													<span><input type="text" value="@Html.DisplayFor(modelItem => item.Specialty)" readonly/></span>
											</div>
										</td>
											<td>
												<div class="email">

													<span><input type="text" value="@Html.DisplayFor(modelItem => item.Faculty)" readonly/></span>
												</div>
											</td>
											<td>
												<div class="email">

													<span><input type="text" value="@Html.DisplayFor(modelItem => item.Ci)" readonly/></span>
												</div>
											</td>
											<td>
												<div class="email">

													<span><input type="text" value="@Html.DisplayFor(modelItem => item.Dateupdate)" readonly /></span>
												</div>
											</td>
											<td>
												<div class="email">

													<span><input type="text" value="@Html.DisplayFor(modelItem => item.Datecreate)" readonly /></span>
												</div>
											</td>
											<td>
												<div class="email">

													<span> <textarea>@Html.DisplayFor(modelItem => item.IduserNavigation)  </textarea>  </span>
												</div>
											</td>
										
											<td>
												<div class="email">
													<a type="submit" class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
												</div>
											</td>
											<td>
												<div class="email">

													<a type="submit" class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>

												</div>
											</td>
											<td>
												<div class="email">

													<a type="submit" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
												</div>
											</td>
										

									</tr>

									
								}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
		</div>
		</div>
